# MinIO Environment Configuration
MINIO_ROOT_USER={{ minio_root_user }}
MINIO_ROOT_PASSWORD={{ minio_root_password }}
MINIO_VOLUMES="{{ minio_data_dir }}"
MINIO_OPTS="--address :{{ minio_api_port }} --console-address :{{ minio_console_port }}"
MINIO_SERVER_URL="http://{{ ansible_default_ipv4.address }}:{{ minio_api_port }}"
MINIO_BROWSER_REDIRECT_URL="http://{{ ansible_default_ipv4.address }}:{{ minio_console_port }}"
